.virtual-footer-remove-flex {
  flex: 1 1 auto !important;
}

.virtual-footer-footer-group {
  min-height: unset; 
}

.virtual-footer-custom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem !important
}

.virtual-footer-custom .horizontal-module {
  border: none !important;
  border-top: 2px solid var(--hr-color) !important;
}

.virtual-footer-custom .info-module {
  padding: 0px 1rem;
}

.virtual-footer-custom .info-module span {
  display: flex; 
  gap: 2rem; 
  justify-content: end; 
  font-size: .8em
}

.virtual-footer-custom .pagination-module {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.virtual-footer-custom .pagination-module .pagination-button {
  height: 50px;
  text-transform: capitalize;
  background-color: var(--tag-background);
  color: var(--tag-color);
  font-size: var(--font-text-size);
  font-family: var(--font-text);
  */
}

.virtual-footer-custom .pagination-module .pagination-button:hover {
  background-color: var(--tag-background-hover);
  color: var(--tag-color-hover);
}

.virtual-footer-custom .pagination-module .pagination-prev {
  grid-column: 1;
}

.virtual-footer-custom .pagination-module .pagination-home {
  grid-column: 2;
}

.virtual-footer-custom .pagination-module .pagination-next {
  grid-column: 3;
}

.markdown-reading-view .markdown-preview-view .markdown-preview-section {
  height: 100% !important;
  min-height: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  padding-bottom: 0px !important;
}

.markdown-reading-view .markdown-preview-view .markdown-preview-section .mod-footer{
  margin-top: auto;
}